* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.header-main {
  height: 90vh;
  min-height: 300px;
  width: 100%;
  background-image: url(../images/Bieszczady1.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.header-podstrona {
  height: 40vh;
  min-height: 300px;
  width: 100%;
  background-image: url(../images/Bieszczady1.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

header div {
  margin: 0 auto;
  padding: 0 auto;
}
nav {
  background-color: transparent;
  max-width: 1200px;
  height: 40px;
  width: 100vw;
  margin: 0px auto;
}
nav ul {
  display: block;
  list-style: none;
}
nav ul li {
  max-width: 1200px;
  margin: 5px auto;
  padding: 5px auto;
  text-align: center;
}
nav ul li a {
  box-sizing: content-box;
  display: block;
  float: left;
  color: #294569;
  width: 150px;
  margin: 10px 23px;
  padding: 5px 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-bottom: 1px solid white;
  border-radius: 20px;
  transition: 0.2s;
}
.a-podstrona {
  box-sizing: content-box;
  display: block;
  float: left;
  color: white;
  width: 150px;
  margin: 10px 23px;
  padding: 5px 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-bottom: 1px solid white;
  border-radius: 20px;
  transition: 0.2s;
}
nav ul li a:hover {
  border: 1px solid white;
  border-radius: 20px;
}

header h1 {
  margin: 60vh 40vh auto auto;
  text-align: right;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}
header h2 {
  margin: 0vh 40vh auto auto;
  text-align: right;
  color: white;
  font-size: 1rem;
  text-transform: lowercase;
  letter-spacing: 9px;
}

.wrapper {
  max-width: 1200px;
  margin: 5px auto 0 auto;
  padding: 5px 20px;
  border-left: 5px dotted #53703538;
  border-right: 5px dotted #53703538;
}
.second-image {
  height: 400px;

  width: 100%;
  background-image: url(../images/Bieszczady2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px auto;
}
.third-image {
  height: 400px;
  width: 100%;
  background-image: url(../images/Bieszczady3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px auto 0 auto;
}
.second-text {
  width: 50vw;
  margin: 0 auto;
}
.title {
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}
img {
  display: block;
  width: 100%;
  border: 3px solid #48653479;
  border-radius: 20px;
}

.section {
  margin: 10px auto 0 auto;
}
.section-podstrona1 {
  margin: 0px auto 0px auto;
  border-bottom: 5px dotted #53703538;
}
.section-podstrona2 {
  margin: 0px auto 0px auto;
}
.insection {
  width: 30%;
  float: left;
  margin: 1.6%;
}
.insection-podstrona {
  width: 46%;
  float: left;
  margin: 2%;
}
h3 {
  text-align: center;
  font-size: 2rem;
  color: #486534;
  margin-bottom: 20px;
}
p {
  display: inline-block;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
}

.writetous {
  max-width: 50vw;
  text-align: center;
  font-size: 1.2rem;
  margin: 5px auto 0 auto;
}
button {
  display: block;
  background-color: transparent;
  border: transparent;
  margin: 5px auto 20px auto;
}
.linkbutton {
  display: inline-block;
  text-decoration: none;
  color: #486534;
  font-size: 25px;
  padding: 10px 20px;
  border: 2px dotted #486534;
  border-radius: 50px;
  transition: 0.5s;
}
.linkbutton:hover {
  color: #cfa468;
  border: 2px dotted #cfa468;
}
footer {
  height: 25px;
  width: 500px;
  margin: 0px auto;
  padding-bottom: 10px;
  text-align: center;
}
.contact {
  margin-top: 20px;
  text-align: center;
}
